#what .items{
    display:  block;
}
#what .items .item{
    display: flex;
    text-align: left;
}
#what .items .item i{
    margin-right: .5rem;
    margin-bottom: 0;
    align-self: center;
}

@media(max-width: 500px){
    #navbar{
        flex-direction: column;
        padding: .5rem;
    }
    #navbar ul li a{
        padding: .5rem;
    }
    #navbar .logo{
        margin-bottom: .5rem;
    }
    #showcase{margin-top: -65px;}
    .l-heading{
        font-size: 3rem;
        line-height: 1;
    }
    .lead{font-size: 1.2rem;}
    #who{ display: block;}
    #who .who-img{display: none;}

    #clients .items img{width: 80%;}
    #clients .items div:last-child{display: none;}

    #contact{display: block;}
    /* #contact .contact-form{display: none;} */
    #contact div.contact-map{
        width: 100%;
        height: 400px;
        background-color: grey;
    }
}